body {
	margin: 0;
	background-color: #333333;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 70px;
	float: left;
	background-color: #333333;
}

ul.menu_bar  {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.menu_bar li {
	float: left;
}

ul.menu_bar li a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

ul.menu_bar li a:hover {
	background-color: #555;
}

ul.menu_bar li.icon {
	display: none;
}

/**
 	미디어 쿼리문
 */

@media screen and (max-width: 680px) {
	ul.menu_bar li:not(:first-child) {
		display: none;
	}
	ul.menu_bar li.icon {
		float: right;
		display: inline-block;
	}
}

@media screen and (max-width: 680px) {
	ul.menu_bar.responsive {
		position: relative;
	}
	ul.menu_bar.responsive li.icon {
		position: absolute;
		right:0;
		top: 0;
	}
	ul.menu_bar.responsive li {
		float: none;
		display: inline;
	}
	ul.menu_bar.responsive li a {
		display: block;
		text-align: left;
	}
}
/*
	미디어 쿼리 끝
 */
section {
	padding-top : 150px;
	background-color: #131313;
	width: 100%;
}

.content {
	overflow: auto;
	width: 100%;
}

.content_child {
	height: 700px;
	width: 100%;
	background: #131313;
	display: block;
}

.section_p {
	top: 13px;
	left: 30%;
	position: relative;
	color: #fff;
	font-size: 4em;
}

footer {
	position: static;
	background-color: #333;
	width: 100%;
	height: 120px;
	float: left;
	overflow: hidden;
}

footer div:first-child {
	width: 30%;
}

footer div:nth-child(2) {
	width: 40%;
}

footer div:nth-child(3) {
	width: 30%;
}

footer div {
	margin-left: 30px;
	margin-right: 30px;
	color: #fff;
	display: inline;
}

