body {
	margin: 0;
	background-color: #333333;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 70px;
	float: left;
	background-color: #333333;
}

.topnav {
	margin-top: 0;
	width: 100%;
}

ul.menu_bar  {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.menu_bar li {
	float: left;
}

ul.menu_bar li a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

ul.menu_bar li a:hover {
	background-color: #555;
}

ul.menu_bar li.icon {
	display: none;
}

/**
 	미디어 쿼리문
 */

@media screen and (max-width: 680px) {
	ul.menu_bar li:not(:first-child) {
		display: none;
	}
	ul.menu_bar li.icon {
		float: right;
		display: inline-block;
	}
}

@media screen and (max-width: 680px) {
	ul.menu_bar.responsive {
		position: relative;
	}
	ul.menu_bar.responsive li.icon {
		position: absolute;
		right:0;
		top: 0;
	}
	ul.menu_bar.responsive li {
		float: none;
		display: inline;
	}
	ul.menu_bar.responsive li a {
		display: block;
		text-align: left;
	}
}
/*
	미디어 쿼리 끝
 */


section {
	background-color: #131313;
}

.content {

	overflow: hidden;
}

.content_child {
	background: #131313;
	height: 500px;
	display: block;
	overflow: hidden;
}

.section_p {
	top: 13px;
	left: 10%;
	position: relative;
	color: #fff;
	font-size: 4em;
}

/**
	view slider
 */
#slider {
	margin: 2em auto;
	width:960px;
	overflow: hidden;
}

#slider-wrapper{
	z-index: 1;
	width:9999px;
	height:300px;
	position: relative;
	transition: left 300ms linear;
}

.slide {
	float: left;
	width: 960px;
	height: 300px;
	position: relative;
	overflow: hidden;
}

.slide img {
	position: absolute;
	top:0;
	left:0;
}

#slider-nav {
	z-index: 90;
}

.caption {
	margin:0;
	position: absolute;
	z-index: 100;
	bottom:-2em;
	width:100%;
	height: 2em;
	line-height:2;
	text-align: center;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	transition: bottom 500ms ease-in;
}

.caption.visible {
	bottom:0;
}

#slider-nav a {
	width: 2em;
	height: 2em;
	border: 1px solid #ccc;
	text-align: center;
	text-decoration: none;
	color: #000;
	display: inline-block;
	line-height: 2;
	margin-right: 0.5em;
}

#slider-nav a.current {
	border-color: #000;
}

footer {
	position: static;
	background-color: #333;
	width: 100%;
	height: 120px;
	float: left;
	overflow: hidden;
}

footer div:first-child {
	width: 30%;
}

footer div:nth-child(2) {
	width: 40%;
}

footer div:nth-child(3) {
	width: 30%;
}

footer div {
	margin-left: 30px;
	margin-right: 30px;
	color: #fff;
	display: inline;
}

